---
import pageData from "../data/pageData.json";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.vue";
import AllProjects from "../components/AllProjects.vue";

let currentPage = pageData[3].pageName;
---

<Layout
  title="Interior Design Solutions | IDS | Home Spaces"
  page={currentPage}
>
  <main>
    <Hero
      title="Home Spaces"
      body="Our comprehensive approach ensures that your home is a cohesive blend of comfort, style, and functionality, tailored to your unique needs and aesthetic preferences."
      buttonText="Our Home Spaces"
      buttonHref="#projects"
      buttonColor="primary"
      heroImage="72"
    />
    <section
      class="mt-36"
      id="projects"
    >
      <AllProjects filter="home-space" />
    </section>
    <section class="bg-primary grid grid-cols-1 gap-24 mt-36 md:mt-48 lg:gap-0">
      <section class="text-white text-center">
        <div class="wrapper bg-primary">
          <div class="bg-primary text-center py-14">
            <div class="md:flex md:items-center md:gap-16 lg:gap-32">
              <h3 class="text-2xl highlight--underline md:hidden">
                Our Kitchens
              </h3>
              <img
                src="/project-images/40.jpeg?url"
                alt=""
                class="w-full h-80 mt-12 md:h-112 md:mt-0"
              />
              <div class="md:text-left md:w-4/5">
                <h3
                  class="text-2xl highlight--underline highlight--underline--left hidden md:block lg:max-w-80"
                >
                  Our Kitchens
                </h3>
                <p class="my-12 lg:max-w-80">
                  Our kitchen design portfolio showcases a variety of styles and
                  solutions that we've crafted for clients just like you.
                  <br />
                  <br />
                  From modern minimalism to classic elegance, each kitchen is a testament
                  to our commitment to quality, creativity, and bespoke design.
                </p>
                <a href="/kitchens"
                  ><button class="button--white"> View Our Kitchens</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-white text-center">
        <div class="wrapper bg-primary">
          <div class="bg-primary text-center py-14">
            <div
              class="md:flex md:items-center md:gap-16 md:flex-row-reverse md:justify-end lg:gap-32"
            >
              <h3 class="text-2xl highlight--underline md:hidden">
                Our Bathrooms
              </h3>
              <img
                src="/project-images/97.jpeg?url"
                alt=""
                class="w-full h-80 mt-12 md:h-112 md:mt-0"
              />
              <div class="md:text-right md:w-4/5">
                <h3
                  class="text-2xl highlight--underline highlight--underline--right hidden md:block lg:max-w-80 lg:ml-auto"
                >
                  Our Bathrooms
                </h3>
                <p class="my-12 lg:max-w-80 lg:ml-auto">
                  Here, we have curated a collection of our finest bathroom
                  transformations, each reflecting our passion for crafting
                  spaces that blend relaxation with sophistication.
                  <br />
                  <br />
                  From luxurious spa-like retreats to sleek, modern designs, our
                  portfolio showcases the breadth of our creativity and attention
                  to detail.
                </p>
                <a href="/bathrooms"
                  ><button class="button--white"> View Our Bathrooms</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
</Layout>

<style is:global lang="scss">
  .header__logo,
  .header__burger-menu {
    filter: brightness(9999);
  }
</style>
