---
import pageData from "../data/pageData.json";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.vue";

let currentPage = pageData[0].pageName;
---

<Layout
  title="Welcome to Astro."
  page={currentPage}
>
  <main class="mb-64">
    <Hero
      client:visible
      title="Interior Design Solutions"
      body="A bespoke interior design agency dedicated to transforming bold ideas into unique spaces."
      buttonText="Learn More"
      buttonHref="#about-ids"
      buttonColor="primary"
      heroImage="40"
    />

    <section class="mt-24">
      <div
        id="about-ids"
        class="wrapper grid grid-cols-1 gap-8"
      >
        <div class="">
          <img
            src="/project-images/72.jpeg?url"
            alt="A picture of a house front porch. Walls are painted blue and white."
            class="aspect-square w-full"
          />
        </div>
        <div class="text-center">
          <h2 class="text-5xl">IDS</h2>
          <p class="mt-8">
            Established by Gary Moores and Mirko Lucchini, IDS unites top-tier
            interior design experts to transform your home.
            <br />
            <br />
            We are committed to meticulously managing each project to guarantee outstanding
            quality and harmonious results.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style is:global lang="scss">
  .header__logo,
  .header__burger-menu {
    filter: brightness(9999);
  }
</style>
