---
interface Props {
  color: string;
  text: string;
  href: string;
}
const { color, text, href } = Astro.props as Props;
---

<a href={href}><button class={color}>{text}</button></a>

<style lang="scss">
  button {
    background: var(--primary);
    color: white;
    padding: 0.75em 1.5em;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;

    &:hover {
      filter: brightness(1.1);
    }
    &:active {
      filter: brightness(1.3);
    }
  }
</style>
